*{
    font-family: 'Georama', sans-serif;
}
body{
    background: url('img/background.svg') no-repeat;
    background-size: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
header{
    padding-left: 10%;
    min-width: 100px;
    width: 100%;
    padding-top: 30px;
    max-height: 76px;
    margin-right: -0px;
    padding-right: 0;
}
.mother{
    max-width: 100%;
    overflow: hidden;
}
p{
    font-weight: 400;
  }
.header-li p{
    color: black;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
header{
    min-width: 100%;
    margin-right: 0;
}
.header-btn{
    color: #fff;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    background: #5EB083;
    border: #5EB083;
    display: flex;
    padding-left: 30px;
    padding-top: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.header-btn:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}
.header-btn-vector2{
    position: absolute;
    margin-top: 12px;
    width: 18px;
    height: 18px;
}
.header-btn-p{
    margin-left: 25px;
}
.header-li{
    text-decoration: none;
    margin-left: 60px;
    transition: all 0.5s;
}
.header-li-btn{
    text-decoration: none;
    display: flex;
    border: solid 1px #ffffff00;
    background: hwb(0 96% 4% / 0);
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 12px;
}
.header-li-p{
    transition: all 0.5s;
}
.header-li{
    transition: all 0.5s;
}
.header-li p:hover{
    color: #00df77
}
.header-li-btn:hover{
    color: #00df77
}
.header-logo{
    width: 182px;
    height: 76px;
}
.header-logo-p{
    display: inline;
    position: absolute;
    margin-top: 25px;
    margin-left: 22px;
    color: #5B6574;
}
.header-li-btn img{
    padding-top: 5px;
    padding-left: 5px;
}
.header-ul{
    margin-left: 200px;
    font-size: 12px;
    margin-top: 20px;
}
.header-ul-li-img:hover {
    margin-top: 5px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    }
    /* !!!! С этим нужно что-то сделать, а точнее нужно, чтобы при нажатии services он менял направление !!!! */

.header-services-block{
    position: absolute;
    width: 189px;
    height: 154px;
    background: rgb(255, 255, 255);
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 20px;
    margin-left: 550px;
    margin-top: 50px;
    z-index: 3;
    display: none;
    transition: all 0.3s;
    animation: blockAnimate 0.1s linear ;
}
@keyframes blockAnimate {
    from{height: 0;}
    to{height: auto;}
    
}
.services-block a:hover{
    text-decoration:underline;
}
.header-services-block:hover{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.header-services-block .services-block a{
    color: #94A1B5;
}
.head-services-block-exit{
    position: absolute;
    margin-left: 160px;
    margin-top: 7px;
    width: 10px;
    cursor: pointer;
}
.main-button{
    display: flex;
}
.header-li-burger{
    position: absolute;
    padding-top: 15px;
    padding-left: 80%;
    display: none;
}
/* HEADER */

.main-h1{
    color: #32333D;
    margin-top: 100px;
    margin-left: 145px;
    font-size: 25px;
}
.main-p{
    margin-top: -10px;
    color: #5B6574;
    margin-left: 145px;
}
.main-btn{
    color: #fff;
    margin-left: 145px;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    background: #FFBB8A;
    border: #FFBB8A;
    display: flex;
    padding-left: 30px;
    padding-top: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.main-btn-p{
    margin-left: 25px;
}
.main-btn-vector2{
    position: absolute;
    margin-top: 12px;
    width: 18px;
    height: 18px;
} 
.main-btn:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
} 
.main-button-p{
    margin-top: 5px;
    margin-left: 30px;
    font-size: 16px;
    color: #CAD3E0;
}
.main-rectangle{
    margin-left: 25px;
    margin-top: 100px;
    max-width: 100%;
}
.main-rectangle-img{
    width: 150px;
}
.burger{
    width: 20px;
    height: 3px;
    margin-top: 3px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.74);
}
  .mobile-ul-li{
        margin-top: 40px;
        transition: all 0.5s;
        display: none;
}



.main-h2-immigration{
    padding-left: 150px;
    padding-top: 40px;
}
.main-h2-immigration-h2{
    font-size: 35px; 
    color: #32333D;
}
.main-h2-fastService{
    padding-left: 150px;
    padding-top: 150px;
    display: flex;
}
.main-h2-fastService-h2{
    color: #32333D;
}
.fastService-img{
    width: 450px;
    margin-left: 100px;
    margin-top: -70px;
}
.main-h2-fullControll{
    padding-left: 150px;
    padding-top: 100px;
    display: flex;
}
.fullControl-img{
    width: 450px;
}
.main-h2-fullControll-h2{
    margin-left: 135px;
    margin-top: 70px;
    color: #32333D;
}
.main-h2-personalized{
    padding-left: 150px;
    padding-top: 150px;
    display: flex;
    color: #32333D;
}

.main-who-has-h2{
    margin-top: 150px;
    color:#32333D;
    font-size: 40px;
}
.main-who-has-img ul{
    margin-left: 70px;
    display: flex;
}
.main-who-has-img li a img{
    width: 250px;
    margin-left: 30px;
    margin-top: 30px;
    display: block;
    transition: all 0.3s;
    border-radius: 20px;
}
.main-who-has-img li a img:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}
.main-who-has-img a{
    transition: all 0.3s;
    color:#5B6574;
}
.main-who-has-img a:hover{
    color:#00df77;
}
.main-who-has-img p {
    margin-top: 20px;
}


.main-how-can{
    font-size: 20px;
    padding-left: 130px;
    padding-top: 50px;
    color:#32333D;
}
.main-how-can-chose{
    margin-left: -150px;
}
.main-how-can-chose-v1{
    padding-left: 150px;
    width: 500px;
    border-radius: 30px;
}
.main-how-can-chose-v1-1 p{
    margin-left: 10px;
}
.main-how-can-chose-v1-2 p{
    margin-left: 10px;
}
.main-how-can-chose-v1{
    margin-left: 30px;
}
.main-how-can-chose-v1-inCase{
    padding-top: 30px;
}
.main-how-can-chose-v1-1-button{
    cursor:pointer;
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background: #5EB083;
    color: white;
    font-size: 15px;
    transition: all 0.2s;
}
.main-how-can-chose-v1-1-button:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}
.main-how-can-chose-v1-1-button-p{
    margin-top: 10px;
}


.main-what-is{
    margin-left: 160px;
    margin-top: 100px;
}
.main-what-is-btn-button{
    height: 30px;
    border:none;
    border-radius: 15px;
    background: #E7EEFA;
    color: #5B6574;
    cursor: pointer;
    transition: all 0.1s;
    margin-left: 10px;
}
.main-what-is-btn-button:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.main-what-is-img{
    width: 1000px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 0.5s;
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.3);
}



.main-FAQ{
    margin-left: 150px;
    margin-top: 250px;
}
.main-FAQ h4{
    margin-top: 70px;
    color: #32333D;
}
.main-FAQ p{
    margin-top: -10px;
}



.footer{
    width: 1000px;
    height: 200px;
    background: #2A3034;
    margin-left: 190px;
    margin-top: 100px;
    padding-top: 50px;
    padding-left: 20px;
    border-radius: 30px 30px 0 0;
}
.follow ul li{
    margin-left: 35px;
    width: 20px;
}
.address{
    margin-left: 70px;
}
.follow{
    margin-top: -25px;
}











@media (max-width: 1200px) {
  .header-li{
    display: none;
  }  
 
  body{
    background-size: 100%;
    background-position: 0px ;
  }
  .header-li-burger{
    margin-top: 15px;
    display: block;
  }
  .main-h1{
    font-size: 20px;
  }
  .header-btn{
    margin-left: -20px;
  }
  .main-rectangle-img{
    width: 130px;
  }


}
@media (max-width: 800px) {

    .mobile-ul a{
        color: #32333D;
    }
    *{
        font-family: 'Georama', sans-serif;
    }
    .mobile-ul-li{
        margin-top: 40px;
        transition: all 0.5s;
        display: none;
    }
    
    .mobile-ul-ul-li{
        margin-top: 30px;
        /* display: none; */
    }
    .mobile-ul-ul-li p{
        color: #94A1B5;
    }
    .mobile-ul-ul-li p:hover{
        text-decoration: underline;
    }
    .main-li-p{
        transition: all 0.3s;
    }
    .main-li-p:hover{
        color: #5EB083;
    }
    
    header{
        max-width: 100%;
    }
    .main-rectangle{
        margin-top: 0;
        margin-bottom: 10px;
        flex-wrap: wrap;
      }
    .main-rectangle-img{
        width: 100px;
    }
    .header-logo-p{
        display: none;
    }
    .main-button-p{

    }
    body{
    background-image: url(img/background_mobile.svg);
    background-size: 100%;
    background-position: 0 0;
}
    .header-btn{
        margin-top: -6px;
        margin-left: -215px;
        width: 150px;
        height: 45px;
        font-size: 10px;
        padding-top: 8px;
        padding-left: 20px;
      }
    .header-btn-p{
        margin-top: 9px;
    }
      .main-btn{
        width: 300px;
        height: 60px;
        font-size: 14px;
        padding-top: 9px;
        padding-left: 80px;
        margin-left: 35px;
      }
      .main-button-p{
        margin-top: 20px;
        margin-left: 40px;
      }
      .main-btn-p{
        margin-top: 13px;
      }
      .main-button{
        display: block;
      }
      .header-btn-vector2{
        margin-top: 6px;
        margin-left: 0px;
      }
      .header-logo{
        margin-top: -20px;
        width: 100px
      }
      .header-li-burger{
        margin-top: -5px;
        display: block;
      }
      .main-h1{
        font-size: 15px;
        margin-top: 300px;
        margin-left: 40px;
      }
}
